.buy {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: var(--shadow);
    padding: 2rem 1rem;
    gap: 1rem;
    max-height: 85vh;
    justify-content: space-between;
    grid-row: 1;

    @include from(s) {
        grid-row: auto;
    }
}

.buy > .shopping-cart__container,
.close-icon__container {
    display: none;
}

.buy-mobile {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: var(--shadow);
    padding: 2rem 1rem;
    gap: 1rem;
    max-height: 85vh;
    justify-content: space-between;
    grid-row: 1;
    position: fixed;
    background-color: var(--primary-color);
    z-index: var(--z-modal);
    padding: 0;
    right: 1rem;
    height: 60px;
    width: 60px;
    transition: background-color, 0.4s;
}

.buy-mobile:hover {
    background-color: var(--green);
    transition: background-color, 0.4s;
}

.shopping-cart__container {
    border-radius: 20px;
    height: 60px;
    width: 60px;
}

.shopping-cart__container:hover {
    background-color: var(--green-hover);
    cursor: pointer;
}

.shopping-cart__container:hover > .shopping-cart__icon {
    filter: invert(11%) sepia(5%) saturate(5539%) hue-rotate(133deg)
        brightness(82%) contrast(93%);
    cursor: pointer;
}

.buy-mobile > :not(.shopping-cart__icon, .shopping-cart__container) {
    display: none;
}

.buy-mobile > .shopping-cart__container {
    display: block;
}

.buy-mobile--open > .shopping-cart__container {
    display: none;
}

.buy-mobile--open > .close-icon__container {
    display: block;
}

.buy-mobile--open {
    width: calc(100% - 2rem);
    height: 85vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: var(--shadow);
    gap: 1rem;
    justify-content: space-between;
    position: fixed;
    background-color: var(--primary-color);
    z-index: var(--z-modal);
    padding: 1rem 0;
    right: 1rem;
    transition: width, height, 0.5s;
}

.buy-mobile--open > :not(.checkout) {
    padding: 0 1rem;
}

.shopping-cart__icon {
    height: 30px;
    width: 30px;
    max-width: 30px;
    max-height: 30px;
    margin: 1rem;
}

.shopping-cart__amount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    color: var(--primary-color);
    right: 0;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.close-icon__container {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.close-icon:hover {
    filter: invert(9%) sepia(95%) saturate(4882%) hue-rotate(351deg)
        brightness(89%) contrast(87%);
    cursor: pointer;
}
