.cart-container {
    display: grid;
    padding: 1rem;
    height: 100vh;
    gap: 3rem;

    @include from(m) {
        grid-template-columns: 1fr 0.8fr;
    }

    @include from(l) {
        grid-template-columns: 1fr 0.5fr;
    }
}
