:root {
    /*  Variables del proyecto  */

    /*  Colores  */
    --primary-color: #ffffff;
    --primary-color-alt: hsla(177, 44%, 10%, 1);
    --primary-color-alt-hover: hsla(177, 44%, 15%, 1);
    --title-color: hsla(177, 44%, 10%, 1);
    --text-color: hsla(177, 44%, 10%, 0.8);
    --body-bg-color: #ffffff;
    --color: var(--primary-color);
    --color-alt: var(--primary-color-alt);
    --red: hsl(357, 71%, 34%);
    --red-hover: hsl(357, 71%, 28%);
    --green: hsl(177, 76%, 29%);
    --green-hover: hsl(177, 76%, 23%);

    /*  Fuentes  */
    --body-font: 'Rubik', sans-serif;

    /* Tamaños de fuentes */
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 0.75rem;
    --big-font-size: 0.75rem;
    --normal-font-size: 0.7rem;
    --small-font-size: 0.6875rem;
    --smaller-font-size: 0.575rem;

    /* Capas */
    --z-back: -10;
    --z-normal: 1;
    --z-front: 10;
    --z-tooltip: 20;
    --z-overlay: 30;
    --z-modal: 40;
    --z-fixed: 50;
    --z-off-canvas: 100;

    /*Otros*/

    --shadow: 0px 4px 20px 0px hsla(0, 0%, 0%, 0.25);
    --shadow-image: 0px 5px 4px 0px hsla(177, 44%, 10%, 0.25);
    --shadow-card: 0px 4px 4px 0px hsla(177, 44%, 10%, 0.25);
}

$breakpoints: (
    s: 640px,
    m: 768px,
    l: 1024px,
    lx: 1200px,
);
